<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="form-card">
    <form class="login-form" action="/login" method="POST">
        <div class="form-header" style="margin-bottom: 1rem;">
            <h1 class="form-heading">Fin<span style="color: #2563eb;">Track</span></h1>
            <p class="form-subheading">Welcome back! sign in to your account</p>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <div class="input-wrapper">
                <input type="email" id="email" name="email" placeholder="you@example.com">
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>
        <div class="options-row">
            <label>
                <input type="checkbox">
                Remember me
            </label>

            <span href="#" class="forgot-link">Forgot password</span>
        </div>

        <button type="submit" class="submit-btn">Sign In</button>

    </form>
    <div class="divider">or continue with</div>

    <div class="social-buttons">
        <a class="social-btn google" href="/auth/google">Google</a>
        <a class="social-btn facebook">Facebook</a>
        <a class="social-btn github" href="/auth/github" role="button">Github</a>
    </div>

    <p class="form-footer">Don't have an account? <a href="/register">Create one</a></p>
</div>
</body>
</html>