* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

.quiz-main {
   flex: 1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-left: 250px;
}

.quiz-container {
    background-color: #ffffff;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.quiz-section{display: none;}
.quiz-section.active {display: block;}

.q-s-heading {
    color: #4361ee;
    font-weight: bold;
}

.q-s-subheading {
    color: grey;
}

.start-q-btn {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #0096c7;
    color: white;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.start-q-btn:hover {
    background-color: #0077b6;
}

.q-question {
    font-weight: bold;
    margin-bottom: 1rem;
}

.q-status-con {
    display: flex;
    justify-content: space-between;
    color: #A8A492;
}

.answer-btn {
    background-color: #edf2fb;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: #e2e8f0;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    border: 1px solid #e2e8f0;
    transition: background-color 0.3s ease;
}

.answer-btn:hover {
    background-color: #d7e3fc;
    border-color: #d1d5db;
}

.answer-btn:not(.correct):not(.incorrect):hover {
  background-color: #d7e3fc;
  border-color: #d1d5db;
}

.answer-btn.correct {
  background-color: rgba(40, 167, 69, 0.15); /* Standard green with 15% opacity */
    color: #28a745;                            /* Standard green text */
    border-color: rgba(40, 167, 69, 0.5) !important; /* Matching border */
    font-weight: bold;
}

.answer-btn.incorrect {
  background-color: rgba(220, 53, 69, 0.15); /* Standard red with 15% opacity */
    color: #dc3545;                            /* Standard red text */
    border-color: rgba(220, 53, 69, 0.5) !important; /* Matching border */
    font-weight: bold;;
}

.quiz-per {
  height: 12px;
  padding: 0;
  overflow: hidden;
  background-color: #edf2fb;
  border-radius: 20px;
  margin-top: 20px;
}

#progressBar {
  background-color: #c8b6ff;
  height: 100%;
  border-radius: 20px;
  transition: width 0.3s ease;
}

.result-heading {
    font-weight: bold;
    color: #4361ee;
    margin-bottom: 2rem;
}

.quiz-status-con {
    border-radius: 10px;
    background-color: #edf2fb;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
}

.result-score {
    color: grey;
    font-weight: bold;
}

.result-qut {
    font-weight: bold;
    color: #219ebc;
}

.restart-quiz {
    border: none;
    padding: 10px 20px;
    background-color: #0096c7;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.restart-quiz:hover {
    background-color: #0077b6;
}


@media (max-width: 1000px) {

}

@media (max-width: 750px) {
    .quiz-main {
        margin-left: 0;
        margin-top: 7rem;
    }
}

@media (max-width: 450px) {

}